<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Object Sorting

    link(rel="stylesheet", href="index.css")
  body
    header
      h1 Object Sorting
    
    main
      section.sort-options
        ul
          li
            button.sort-name Par Nom
          li
            button.sort-meta Par Meta
          li
            button.sort-age Par Age
      
      section.list-headers
        ul
          li
            .header-name Nom
          li
            .header-meta Couleurs
          li
            .sort-age Age
      
      section.list

    
    script(src="index.js")