<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Object Sorting

    link(rel="stylesheet", href="index.css")
  body
    header
      h1 Object Sorting
    
    main
      section.sort-options
        ul
          li
            button.sort-name Par Nom
          li
            button.sort-name Par Meta
          li
            button.sort-name Par Age
      
      section.list-headers
        ul
          li
            .header-title Nom
          li
            .header-meta Couleurs
          li
            .sort-name Age
      
      section.list
        ul.list-item
          li#item-title Test 1
          li#item-meta Test 1
          li#item-age Test 1

    
    script(src="index.js")